*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container{
    max-width: 1100px;
    margin: auto;
}

img{
    max-width: 100%;
}
.primary-btn{
    background-color:#fd6e0a ;
    padding: 12px 17px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}
/* Header Custom CSS */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}
nav .logo span{
    color:#fd6e0a;
}
nav .menu{
    display: flex;
    align-items: center;
}
nav .menu ul{
    display: flex;
}
nav .menu ul li{
    list-style-type: none;
}
nav .menu ul li a{ 
    padding: 10px 15px;
    text-decoration: none;

}
/* Hero Section */
header{
    background-image: url(assests/header_bg.png);
    background-position: bottom right ;
    background-repeat: no-repeat;
} 
.maryHardy{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mary-intro h3{
    font-size: 30px;
}
.mary-intro h1{
    font-size: 55px;
}
.mary-intro p {
    color: gray;
    width: 400px;
    margin-bottom: 40px;
}
.hero .button .btn{
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid black;
}
.mary-pic img{
    width: 520px;
}

/* About Section */

.about{
    margin: 100px 0px;
}
.about-hardy{
    background-color:#fd6f0a25 ;
    text-align: center;
    padding: 100px ;
}
.about-hardy p {
    margin: 20px 0px;
}
.about-me{
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
}
/* Services section */
.services{
    background-color: #f8f8f8;
}
.service.about-hardy {
    background-color: #f8f8f8;
}
.serve-text{
    margin: 20px 0px;
}
.serve-text {
    margin: 50px 0px !important;
}
.ser-vices {
    display: flex;
    justify-content: space-between;
}
.card {
    text-align: left;
    width: 180px;
    box-shadow: 0px 0px 10px #878787;
    padding: 10px;
    border-radius: 5px;
}

/* Resume */

.resume{
    margin: 80px 0px;
}
.resume .head{
    text-align: center;
    margin: 50px 0px;
}
.clearFix::after{
    content: " ";
    clear: both;
    display: table;
}
.qulafication {
    float: left;
    width: 500px;
    padding: 50px 0px;
}
.experience {
    float: right;
    width: 500px;
    padding: 50px 0px;
}
.experience h1, .qulafication h1{
    margin: 10px 0px;
}
.degree{
    margin: 30px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);  
}
.degree p{
    margin-bottom: 10px;
}
.resume-btn{
    text-align: center;
}

/* Contact */

.contact{
    background-color: #fff8f3;
    padding: 100px 0px;
}
.social-icons{}
.social-icons ul{
    display: flex;
    justify-content: flex-start;
}
.social-icons ul li{
    list-style-type: none;
}
.social-icons ul li a{
    text-decoration: none;
}
.social-media{
    float: left;
    width: 500px;
}
.form{
    float: right;
    width: 500px;
}
form input, textarea{
    padding: 10px;
    margin: 5px 0px; 
    width: 100%;
}
.form .primary-btn{
    border: none;
}